{#{% extends 'bootstrap/base.html' %}#}
{% block navbar %}
    <!DOCTYPE html>
<html lang="en">
<title>PriceWatchers</title>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href={{ url_for('home') }}>PriceWatchers</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href={{ url_for('home') }}>Home</a></li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href={{ url_for('register') }}><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href={{ url_for('login') }}><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
  </div>
</nav>
</html>
{% endblock %}
{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
<head><link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/></head>