<html xmlns="http://www.w3.org/1999/html">
    <head>
    {% if title %}
    <title>{{ title }}- PriceWatchers</title>
    {% else %}
    <title>Welcome to PriceWatchers!</title>
    {% endif %}
    </head>
    <br>
        <div>
        PriceWatchers
        <a href="/home">Home</a>
        <a href="/login">Login</a>
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
            <form action="/hms/accommodations" method="GET">
                <div class="row">
                    <div class="col-xs-6 col-md-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter URL" id="txtSearch"/>
                            <div class="input-group-btn">
                                <button class="btn btn-primary" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% block content %}{% endblock %}
    <body>

    </body>
</html>