{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h4>
    Your item is url: <a href = "{{ url }}">{{ url }}</a>
</h4>
<h4>
Product Name: {{ name }}

</h4>

<h5>
Highest price: ${{ highest_price }}
</h5>
    <h5>
Lowest price: ${{ lowest_price }}
</h5>
    <h5>
Current price: ${{ current_price }}
</h5>
    <h4>    {# TODO: hide email part if logged in with email, hide form after submission #}
    <div class="row" style="border: 2px solid #000000">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</h4>

<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  </head>
<body>
<button id="update">Update The chart!</button>
<div class="ct-chart ct-perfect-fourth"></div>

<script>



    var myChart;
    var getData = $.get('/data/{{ name }}');

    getData.done(function(results) {


    var data = {
  // A labels array that can contain any sort of values
  labels: ["January", "February", "March", "April", "May", "June", "July", "August", "Sepetember", "October", "November", "December"],
  // Our series array that contains series objects or in this case series data arrays
  series: [
   results.results
  ]
};
    var options = {
        width: 1000,
        height: 500
};
        myChart = new Chartist.Line('.ct-chart', data, options);
});
    function updateChart(){
        var updatedData = $.get('/data/{{ name }}');

        updatedData.done(function(results){

              var data = {
  // A labels array that can contain any sort of values
  labels: ["January", "February", "March", "April", "May", "June", "July", "August", "Sepetember", "October", "November", "December"],
  // Our series array that contains series objects or in this case series data arrays
  series: [
   results.results
  ]
};
myChart.update(data)
        });

    }

    $("#update").on('click', updateChart);

</script>

</body>
</html>
{% endblock %}