{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h4>
    Your item is url: {{ url }}</h4>
<h4>
Product Name: {{ name }}

</h4>

     <body>
    <input type='text' name='query' id='query'>
    <button type='button' id='search'>Search</button>
    <div id='results'></div>
 </body>
  <script>
    $(document).ready(function() {
     $('#search').click(function() {
       var text = $('#query').val();
        $.ajax({
        url: "/search",
        type: "get",
        data: {query: text},
        success: function(response) {
        $("#results").html(response.html);
       },
       error: function(xhr) {
        //Do Something to handle error
       }
     });
   });
  });
  </script>
<h4>    {# TODO: hide email part if logged in with email, hide form after submission #}
    <div class="row" style="border: 2px solid #000000">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</h4>

<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  </head>
<body>
<div class="ct-chart ct-perfect-fourth"></div>
<script>
    var data = {
  // A labels array that can contain any sort of values
  labels: ["January", "February", "March", "April", "May", "June", "July", "August"],
  // Our series array that contains series objects or in this case series data arrays
  series: [
   [10,9,8,7,6,4,7,8]
  ]
};
    var options = {
        width: 700,
        height: 500
};


new Chartist.Line('.ct-chart', data, options);</script>
</body>
</html>
{% endblock %}